include LICENSE
include README.md
include SECURITY.md
include VERSION
include requirements.txt
include requirements.lock
include pyproject.toml
recursive-include app/templates *.html
recursive-include app/static *
recursive-include app/resources *.yml
recursive-include rules *.yml
recursive-include docs *.md
include .python-version
include requirements-dev.txt
include requirements-dev.lock
include requirements-e2e.txt
include requirements-quality.txt
recursive-include scripts *.py
recursive-include tests *.py *.json *.gz
recursive-include assets *.png
